@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {

}

* {
    font-family: "Ubuntu", serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 1);
}

h1 {
    font-size: 24px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(248, 248, 248, 1);
    padding: 30px;
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.row {
    display: flex;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.row > * {
    flex: 1 1 100%
}

.gap-10 {
    gap: 10px;
}

.input-row {
    margin-top: 5px;
    position: relative;
}

.input-row svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    position: absolute;
    z-index: 2;
}

.input-row input, .input-row .expiration-input {
    padding-left: 2.5rem;
    height: 3rem;
    flex: 1 1 100%;
    border: 1px solid darkgray;
    background-color: rgba(255, 255, 255, 1);
}

input {
    font-size: inherit;
}

.input-row input::placeholder {
    text-align: center;
}

.expiration-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expiration-input input {
    all: unset;
    height: 100%;
    text-align: center;
}

.cvc_input {
    width: 100%;
}
input * {
    font-weight: 800;
}

.pay-btn {
    all: unset;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255,255,255,1);
    font-size: 20px;
    font-weight: 600;
}
